<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />    
    <title>@ViewBag.Title - Evelyn Juliane Portfolio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                          
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><img src="~/img/icons8-programming-flag-40.png" width="50px" height="50px"/></li>
                    <li>  </li>
                    @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    
                    <li>@Html.ActionLink("Projetos", "Projetos", "Home")</li>
                    
                    <li>@Html.ActionLink("Skills", "Skills", "Home")</li>
                    
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Evelyn Juliane Application</p>
        </footer>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

